#game-tabs {
    display: flex;
    margin: 0 0 2rem 0;

    height: 10vh;
    max-height: 85px;
}

.game-tab {
    width: 25%;
    height: auto;

    border: none;

    font-size: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    #game-tabs {
        display: none;
    }
}
