#hamburger-menu {
    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--body-bg);
    color: var(--font-colour);

    margin: 1rem;
    margin-top: 2rem;

    height: 9vh;
    width: auto;

    border: none;
    clip-path: circle(50% at 50% 50%);
}

#hamburger-icon {
    height: 100%;
    width: 100%;
    filter: var(--img-filter);
}
